<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Picture</th>
    <th>Nick</th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><a href="/profiles/<%=profile.id%>"> <img src="<%= profile.picture %>" height="100"> </a></td>
    <td><%= link_to profile.nick, profile %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
